body{
    background-color: #23242a;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color:#f3ff45;
    font-size: 2rem;
    padding: 2rem;
    font-weight: bold;
    
}
h3{
    color:#f3ff45;
}

.Kegiatan
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown
{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.second
{
    font-size: 2rem;
}

.lambang
{
    height: 40vh;
    margin: 100px;
}